BETTER_AUTH_SECRET=
BETTER_AUTH_URL=

# Should follow the format: redis://<host>:<port>
# Could use password and username if needed
REDIS_URL=

# Comma separated list of allowed hostnames for CORS
# Example: DEV_ALLOWED_HOSTNAMES=localhost,127.0.0.1,::1
DEV_ALLOWED_HOSTNAMES=

DATABASE_URL=postgresql://<username>:<password>@<host>:<port>/<database>

EMAIL_HOST=
EMAIL_PORT=
EMAIL_SECURE=
EMAIL_USER=
EMAIL_PASSWORD=

DEBUG=app:*,test:*

MINIO_BUCKET=
MINIO_ENDPOINT=
MINIO_PORT=
MINIO_USE_SSL=
MINIO_ACCESS_KEY=
MINIO_SECRET_KEY=

NEXT_PUBLIC_GIT_URL=