@import "tailwindcss";
@import "tw-animate-css";

@custom-variant dark (&:is(.dark *));

:root {
	--background: oklch(0.1467 0.0041 49.3141);
	--foreground: oklch(0.8848 0.0037 56.3763);
	--card: oklch(0.1588 0.0050 48.3894);
	--card-foreground: oklch(0.8848 0.0037 56.3763);
	--popover: oklch(0.1588 0.0050 48.3894);
	--popover-foreground: oklch(0.8848 0.0037 56.3763);
	--primary: oklch(0.7065 0.1860 48.1293);
	--primary-foreground: oklch(0.9620 0.0012 56.4186);
	--secondary: oklch(0.2698 0.0089 52.1501);
	--secondary-foreground: oklch(0.8848 0.0037 56.3763);
	--muted: oklch(0.2698 0.0089 52.1501);
	--muted-foreground: oklch(0.7250 0.0092 56.2587);
	--accent: oklch(0.2698 0.0089 52.1501);
	--accent-foreground: oklch(0.8848 0.0037 56.3763);
	--destructive: oklch(0.5714 0.2121 27.2502);
	--destructive-foreground: oklch(0.9620 0.0012 56.4186);
	--border: oklch(0.2371 0.0107 48.2489);
	--input: oklch(0.2371 0.0107 48.2489);
	--ring: oklch(0.7065 0.1860 48.1293);
	--chart-1: oklch(0.7065 0.1860 48.1293);
	--chart-2: oklch(0.6356 0.1398 156.1492);
	--chart-3: oklch(0.6296 0.1443 251.2286);
	--chart-4: oklch(0.6665 0.1797 327.3573);
	--chart-5: oklch(0.9204 0.1621 109.2030);
	--sidebar: oklch(0.1154 0.0031 50.5978);
	--sidebar-foreground: oklch(0.9081 0.0030 56.3898);
	--sidebar-primary: oklch(0.7065 0.1860 48.1293);
	--sidebar-primary-foreground: oklch(0.9620 0.0012 56.4186);
	--sidebar-accent: oklch(0.1931 0.0052 52.2293);
	--sidebar-accent-foreground: oklch(0.9081 0.0030 56.3898);
	--sidebar-border: oklch(0.2151 0.0091 48.2763);
	--sidebar-ring: oklch(0.7065 0.1860 48.1293);
	--font-sans: "Inter", sans-serif;
	--font-serif: "Lora", serif;
	--font-mono: "Fira Mono", monospace;
	--radius: 0.5rem;
	--shadow-x: 0px;
	--shadow-y: 4px;
	--shadow-blur: 10px;
	--shadow-spread: -2px;
	--shadow-opacity: 0.3;
	--shadow-color: hsl(20, 14.3%, 2%);
	--shadow-2xs: 0px 4px 10px -2px hsl(20 14.3000% 2% / 0.15);
	--shadow-xs: 0px 4px 10px -2px hsl(20 14.3000% 2% / 0.15);
	--shadow-sm: 0px 4px 10px -2px hsl(20 14.3000% 2% / 0.30), 0px 1px 2px -3px hsl(20 14.3000% 2% / 0.30);
	--shadow: 0px 4px 10px -2px hsl(20 14.3000% 2% / 0.30), 0px 1px 2px -3px hsl(20 14.3000% 2% / 0.30);
	--shadow-md: 0px 4px 10px -2px hsl(20 14.3000% 2% / 0.30), 0px 2px 4px -3px hsl(20 14.3000% 2% / 0.30);
	--shadow-lg: 0px 4px 10px -2px hsl(20 14.3000% 2% / 0.30), 0px 4px 6px -3px hsl(20 14.3000% 2% / 0.30);
	--shadow-xl: 0px 4px 10px -2px hsl(20 14.3000% 2% / 0.30), 0px 8px 10px -3px hsl(20 14.3000% 2% / 0.30);
	--shadow-2xl: 0px 4px 10px -2px hsl(20 14.3000% 2% / 0.75);
	--tracking-normal: 0em;
	--spacing: 0.25rem;
}

.dark {
	--background: oklch(0.1467 0.0041 49.3141);
	--foreground: oklch(0.8848 0.0037 56.3763);
	--card: oklch(0.1588 0.0050 48.3894);
	--card-foreground: oklch(0.8848 0.0037 56.3763);
	--popover: oklch(0.1588 0.0050 48.3894);
	--popover-foreground: oklch(0.8848 0.0037 56.3763);
	--primary: oklch(0.7065 0.1860 48.1293);
	--primary-foreground: oklch(0.9620 0.0012 56.4186);
	--secondary: oklch(0.2698 0.0089 52.1501);
	--secondary-foreground: oklch(0.8848 0.0037 56.3763);
	--muted: oklch(0.2698 0.0089 52.1501);
	--muted-foreground: oklch(0.7250 0.0092 56.2587);
	--accent: oklch(0.2698 0.0089 52.1501);
	--accent-foreground: oklch(0.8848 0.0037 56.3763);
	--destructive: oklch(0.5714 0.2121 27.2502);
	--destructive-foreground: oklch(0.9620 0.0012 56.4186);
	--border: oklch(0.2371 0.0107 48.2489);
	--input: oklch(0.2371 0.0107 48.2489);
	--ring: oklch(0.7065 0.1860 48.1293);
	--chart-1: oklch(0.7065 0.1860 48.1293);
	--chart-2: oklch(0.6356 0.1398 156.1492);
	--chart-3: oklch(0.6296 0.1443 251.2286);
	--chart-4: oklch(0.6665 0.1797 327.3573);
	--chart-5: oklch(0.9204 0.1621 109.2030);
	--sidebar: oklch(0.1154 0.0031 50.5978);
	--sidebar-foreground: oklch(0.9081 0.0030 56.3898);
	--sidebar-primary: oklch(0.7065 0.1860 48.1293);
	--sidebar-primary-foreground: oklch(0.9620 0.0012 56.4186);
	--sidebar-accent: oklch(0.1931 0.0052 52.2293);
	--sidebar-accent-foreground: oklch(0.9081 0.0030 56.3898);
	--sidebar-border: oklch(0.2151 0.0091 48.2763);
	--sidebar-ring: oklch(0.7065 0.1860 48.1293);
	--font-sans: "Inter", sans-serif;
	--font-serif: "Lora", serif;
	--font-mono: "Fira Mono", monospace;
	--radius: 0.5rem;
	--shadow-x: 0px;
	--shadow-y: 4px;
	--shadow-blur: 10px;
	--shadow-spread: -2px;
	--shadow-opacity: 0.3;
	--shadow-color: hsl(20, 14.3%, 2%);
	--shadow-2xs: 0px 4px 10px -2px hsl(20 14.3000% 2% / 0.15);
	--shadow-xs: 0px 4px 10px -2px hsl(20 14.3000% 2% / 0.15);
	--shadow-sm: 0px 4px 10px -2px hsl(20 14.3000% 2% / 0.30), 0px 1px 2px -3px hsl(20 14.3000% 2% / 0.30);
	--shadow: 0px 4px 10px -2px hsl(20 14.3000% 2% / 0.30), 0px 1px 2px -3px hsl(20 14.3000% 2% / 0.30);
	--shadow-md: 0px 4px 10px -2px hsl(20 14.3000% 2% / 0.30), 0px 2px 4px -3px hsl(20 14.3000% 2% / 0.30);
	--shadow-lg: 0px 4px 10px -2px hsl(20 14.3000% 2% / 0.30), 0px 4px 6px -3px hsl(20 14.3000% 2% / 0.30);
	--shadow-xl: 0px 4px 10px -2px hsl(20 14.3000% 2% / 0.30), 0px 8px 10px -3px hsl(20 14.3000% 2% / 0.30);
	--shadow-2xl: 0px 4px 10px -2px hsl(20 14.3000% 2% / 0.75);
}

@theme inline {
	--color-background: var(--background);
	--color-foreground: var(--foreground);
	--color-card: var(--card);
	--color-card-foreground: var(--card-foreground);
	--color-popover: var(--popover);
	--color-popover-foreground: var(--popover-foreground);
	--color-primary: var(--primary);
	--color-primary-foreground: var(--primary-foreground);
	--color-secondary: var(--secondary);
	--color-secondary-foreground: var(--secondary-foreground);
	--color-muted: var(--muted);
	--color-muted-foreground: var(--muted-foreground);
	--color-accent: var(--accent);
	--color-accent-foreground: var(--accent-foreground);
	--color-destructive: var(--destructive);
	--color-destructive-foreground: var(--destructive-foreground);
	--color-border: var(--border);
	--color-input: var(--input);
	--color-ring: var(--ring);
	--color-chart-1: var(--chart-1);
	--color-chart-2: var(--chart-2);
	--color-chart-3: var(--chart-3);
	--color-chart-4: var(--chart-4);
	--color-chart-5: var(--chart-5);
	--color-sidebar: var(--sidebar);
	--color-sidebar-foreground: var(--sidebar-foreground);
	--color-sidebar-primary: var(--sidebar-primary);
	--color-sidebar-primary-foreground: var(--sidebar-primary-foreground);
	--color-sidebar-accent: var(--sidebar-accent);
	--color-sidebar-accent-foreground: var(--sidebar-accent-foreground);
	--color-sidebar-border: var(--sidebar-border);
	--color-sidebar-ring: var(--sidebar-ring);

	--font-sans: var(--font-sans);
	--font-mono: var(--font-mono);
	--font-serif: var(--font-serif);

	--radius-sm: calc(var(--radius) - 4px);
	--radius-md: calc(var(--radius) - 2px);
	--radius-lg: var(--radius);
	--radius-xl: calc(var(--radius) + 4px);

	--shadow-2xs: var(--shadow-2xs);
	--shadow-xs: var(--shadow-xs);
	--shadow-sm: var(--shadow-sm);
	--shadow: var(--shadow);
	--shadow-md: var(--shadow-md);
	--shadow-lg: var(--shadow-lg);
	--shadow-xl: var(--shadow-xl);
	--shadow-2xl: var(--shadow-2xl);
}